<script>
$(document).ready(function () {
  $('.user_name').on("click", function() {
    alert($(this).next('td').text());
  });
});
</script>

<p>検索名<p>
<input id="inc_search" type="text">

<div id='user_list'>
  <%= render partial: 'user_list', locals: { users: @users} %>
</div>
